[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
dominate = "*"

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
